ENV=development

DATABASE_NAME=jenkins_jr_development
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_HOST=127.0.0.1
DATABASE_POOL=50

DATABASE_TEST_NAME=jenkins_jr_test
DATABASE_TEST_PORT=3306
DATABASE_TEST_USERNAME=root
DATABASE_TEST_PASSWORD=
DATABASE_TEST_HOST=127.0.0.1

INSPIRATION_INDEX_URL=http://www.local.host:5000/inspirasi
INFLUENCER_INDEX_URL=http://www.local.host:5000/i

BUKALAPAK_ANDROID_APP_ID=
BUKALAPAK_IOS_APP_ID=

BUKALAPAK_SCHEME=http
BUKALAPAK_HOST=local.host:3000

SPYRO_CLIENT_ID=
SPYRO_CLIENT_SECRET=
